.header {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(50px);
}
.menu {
  display: flex;
  padding: 30px 120px;
  justify-content: space-between;
  align-items: center;
}
.icon_menu_mb {
  display: none;
}
.logo {
  display: flex;
  align-items: center;
}
.logo p {
  color: var(--2, var(--4, #32434a));
  font-family: SVN-Gilroy;
  font-size: 10.957px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
/* .nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
  } */
.nav_menu ul {
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.nav_menu li {
  display: flex;
  list-style-type: none;
  align-content: center;
}
.nav_menu li a {
  text-decoration: none;
  color: var(--Black, #000);
  text-align: center;
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: -0.32px;
}
.nav_menu li svg {
  height: auto;
}
.connect {
  border-radius: 8px;
  background: var(--1, #16edb1);
  width: 188px;
  height: 44px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}
.connect p {
  color: var(--2, #001a22);
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.16px;
}

.connect button {
  background-color: #000;
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--2, #001a22);
}
@media only screen and (max-width: 1024px) {
  .menu {
    padding: 30px 80px;
  }
  .nav_menu {
  }
  .nav_menu .menu_hide {
    display: none;
  }
}
@media only screen and (max-width: 376px) {
  .menu {
    padding: 24px;
  }
  .nav_menu {
    display: none;
  }
  .connect {
    display: none;
  }
  .icon_menu_mb {
    display: block;
  }
}
